@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8;
    color: #4e4e4e;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    transition: opacity .5s;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    opacity: .8;
}

/* header */
#gnav_sp_icon {
    display: none;
}

header nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

header nav ul {
    display: flex;
    column-gap: 60px;
}

header nav ul a {
    font-size: 2.0rem;
    display: inline-block;
    color: #4e4e4e;
    line-height: 60px;
}

header nav ul img {
    width: 30px;
    vertical-align: middle;
    margin-right: 60px;
}

/* main visual */
.bl_mv {
    position: relative;
    width: 100%;
    background: top center / cover url(../images/mv.jpg);
    padding-top: 54.2%;
    z-index: 1;
}

.bl_mv_text {
    width: 100%;
    max-width: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bl_mv_text > span {
    display: inline-block;
    color: #fff;
}

.bl_mv_mainText {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1.3;
    text-shadow: 0 0 1px #333;
    margin-bottom: 0.5em;
}

.bl_mv_mainText > span {
    position: relative;
    font-size: 1.1em;
    letter-spacing: .2em;
    margin: 0 .5em;
}

.bl_mv_mainText span::before {
    content: '『';
    position: absolute;
    top: -25%;
    left: -20%;
}
.bl_mv_mainText span::after {
    content: '』';
    position: absolute;
    bottom: -25%;
    right: -22%;
}

.bl_mv_subText {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
    background-color: rgb(190 108 122);
    padding: .5em 2em;
    border-radius: 25px;
}

/* common */
.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.with_bg {
    background: rgba(190, 108, 122, 0.278);
    padding-bottom: 80px;
}

[class^="content_title"] {
    font-size: 2.4rem;
    font-weight: bold;
}

.content_title_type2 {
    font-size: 3.2rem;
    padding-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.br_pc {
    display: inline;
}

.br_sp {
    display: none;
}

.purchase_btn {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.purchase_btn a {
    display: block;
    font-size: 2.0rem;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background: #be6c7a;
    padding: 15px 0;
    border-radius: 25px;
    line-height: 1;
}

/* banner */
.bl_concept_bnr {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* concept text */
.bl_concept {
    background: url(../images/concept_bg.png) top center / cover no-repeat;
    padding: 60px 0 100px;
}

.bl_concept p {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 100px;
    line-height: 2;   
}

p.bl_concept_text_pr {
    font-size: 2.4rem;
    line-height: 1.5;
    max-width: 600px;
    padding: 1em 2em;
    background-color: rgb(190 108 122 / 100%);
    margin: 100px auto 0;
    color: #fff;
}

.bl_concept_text_pr .number_pr {
    font-size: 4.0rem;
    letter-spacing: 3px;
    margin-left: 0.3em;
}

/* product */
#product {
    padding-top: 100px;
}

.bl_product {
    display: flex;
    margin-bottom: 50px;
    background: #fff;
    padding: 30px;
    border-radius: 4px;
}

.bl_product_img {
    object-fit: cover;
}

.bl_product_detail {
    margin-left: 40px;
}

.bl_product_detail .product_name {
    font-size: 2.0rem;
    margin-bottom: 1em;
    line-height: 1.5;
}

.bl_product_detail .product_name span {
    font-weight: normal;
    font-size: 1.6rem;
    margin-left: 1em;
}

.tax_included {
    font-size: 1.2rem;
}

.bl_product_detail .product_info {
    display: flex;
    column-gap: 10px;
    margin-bottom: 40px;
}

.bl_product_detail .product_icon {
    font-size: 1.2rem;
    border: solid #4e4e4e 1px;
    padding: 2px 15px;
}

.bl_product_detail .product_txt {
    margin-bottom: 1em;
}

.bl_product_components {
    background-color: #fff;
    border: dashed #4e4e4e 1px;
    max-width: 700px;
    margin: 50px auto 0;
    padding: 30px;
}

.bl_product_components h3 {
    text-align: center;
}

.bl_product_components h3::before,
.bl_product_components h3::after {
    content: '-';
}

/* instruction */
.three_steps {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 130px;
}

.three_steps_item {
    width: 31.2%;
}

.three_steps_item_image_wrapper {
    position: relative;
}

.three_steps_item_image_wrapper dt {
    position: absolute;
    font-family: 'Dancing Script', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    font-size: 7.2rem;
    color: rgba(106, 106, 106, 0.7);
    bottom: -13px;
    right: 0;
}

.three_steps_item .image_wrapper {
    max-height: 300px;
    margin-bottom: 2em;
}

.three_steps_item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 3px #ccc;
}

/* voice */
#voice {
    max-width: 1200px;
}

.bl_voice_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bl_voice_content {
    width: 48%;
    box-sizing: border-box;
    border: solid #be6c7a4d 1px;
    padding: 30px;
    background: #fff;
    border-radius: 4px 45px;
}

.bl_voice_content_flexbox {
    display: flex;
    align-items: center;
}

.bl_voice_content_flexbox p {
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 1.5em;
    flex-grow: 1;
    z-index: 1;
}

.bl_voice_content_flexbox p::before {
    content: "\f10d";
    display: inline-block;
    font: var(--fa-font-solid);
    opacity: var(--fa-primary-opacity, .6);
    color: #ccc;
    font-size: 2.5em;

    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}

.bl_voice_content_flexbox img {
    width: 85px;
}

.bl_voice_content_textbox {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
}

.bl_voice_content_textbox span {
    display: block;
    font-weight: bold;
    text-align: right;
}

/* faq */
#faq {
    margin-bottom: 80px;
    padding: 0 3%;
}

.bl_faq_accordion:not(:last-of-type) {
    margin-bottom: 20px;
}

.bl_faq_accordion dt {
    position: relative;
    background: rgba(190, 108, 122, 0.769);
    color: #ffffff;
    padding: 10px 60px 10px 50px;
    margin-bottom: 1em;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.bl_faq_accordion dt::before,dd::before {
    font-size: 2.4rem;
    margin-right: 10px;
    line-height: 1;
}

.bl_faq_accordion dt::before {
    content: "Q";
    font-weight: bold;
    display: inline-block;
    width: 25px;
    margin-left: -40px
}

.bl_faq_accordion dt::after {
    content: "+";
    position: absolute;
    font-size: 2em;
    top: -7px;
    right: 10px;
    font-weight: bold;
    display: inline-block;
    width: 25px;
    transition: transform .3s ease;
}

.bl_faq_accordion dt.active::after {
    transform: rotate(45deg);
}

.bl_faq_accordion dd::before {
    content: "A";
    font-weight: bold;
    display: inline-block;
    width: 25px;
    margin-left: -40px;
}

.bl_faq_accordion > dd {
    height: 0;
    padding: 0 10px 0 50px;
    opacity: 0;
    transition: height .3s, padding .3s, opacity .3s;
}

.bl_faq_accordion > dd.appeared {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
}

/* footer */
#footer {
    margin-top: 200px;
    background: #9e2c41;
    height: 100%;
    text-align: center;
}

#footer .f_logo img {
    width: 200px;
}

#footer small {
    font-size: 1.0rem;
    color: #ffffff;
    display: inline-block;
    margin-top: 100px;
}

#toPagetop {
    width: 50px;
    height: 50px;
    background-color: rgba(51, 51, 51, .8);
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    z-index: 3;
}

#toPagetop a {
    display: block;
    height: 100%;
    line-height: 50px;
}

#toPagetop i {
    color: #fff;
    font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
    /* header */
    #gnav_sp_icon {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 3;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    #gnav_sp_icon > span {
        position: absolute;
        border: solid 1px #4e4e4e;
        width: 30px;
        right: 40px;
        transform-origin: left;
    }

    .icon_top {
        top: 30px;
        transition: transform .8s;
    }
    .icon_top.active {
        transform: rotate(45deg);
    }

    .icon_middle {
        top: 40px;
        transition: opacity .8s;
    }
    .icon_middle.active {
        opacity: 0;
    }

    .icon_bottom {
        top: 50px;
        transition: transform .8s;
    }
    .icon_bottom.active {
        transform: rotate(-45deg) translateX(-1px);
    }
    
    #gnav_sp {
        position: fixed;
        width: 100%;
        background: #fff;
        padding: 15%;
        z-index: 2;
        transform: translateX(100vw);
        transition: transform .8s;
    }

    #gnav_sp.appeared {
        transform: translateX(0);
    }

    #gnav_sp ul {
        display: block;
    }

    #gnav_sp li:not(:last-child) {
        margin-bottom: 1em;
    }

    /* main visual */
    .bl_mv {
        background-position: 0;
        padding-top: 105%;
    }

    .bl_mv_text {
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
    }

    .bl_mv_mainText {
        font-size: 3rem;
    }

    .bl_mv_subText {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    /* common */
    .wrapper {
        width: 100%;
        max-width: 760px; 
        padding: 0 3%;
    }

    .content_title_type2 {
        margin-top: 60px;
    }

    .br_pc {
        display: none;
    }

    .br_sp {
        display: inline;
    }

    /* banner */
    .bl_concept_bnr {
        padding: 0 4%;
    }

    /* concept text */
    .bl_concept p {
        margin-top: 60px;
        padding: 0 4%;
    }

    p.bl_concept_text_pr {
        padding: 1em 0;
    }

    /* product */
    .bl_product {
        flex-direction: column;
    }

    .bl_product_detail {
        margin: 20px 0 0;
    }

    /* instruction */
    .three_steps {
        flex-direction: column;
        align-items: center;
        row-gap: 3em;
    }

    .three_steps .three_steps_item {
        width: 100%;
        max-width: 320px;
    }

    /* voice */
    .bl_voice_container {
        flex-direction: column;
    }
    
    .bl_voice_content {
        width: 100%;
        padding: 35px 20px;
    }
    
    .bl_voice_content_flexbox p {
        font-size: 2.0rem;
        padding-left: 0.5em;
    }
}


